.div-account-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 900px;
	color: var(--brown);
	margin-top: 100px;
}

.div-user-name-account-activity {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
}

.div-user-name-funds,
.div-user-transactions {
	width: 100%;
}

.div-user-transactions {
	margin-top: 25px;
}

.hr-top {
	width: 95%;
}

.hr-bottom {
	width: 80%;
	color: var(--red);
	margin-left: auto;
}

.section-total-funds {
	padding: 10px;
	background-color: lightgray;
	box-shadow: 10px 10px var(--red);
	border-radius: 5px;
}

.h4-total-funds {
	margin: 10px;
}

.total-funds-amount {
	font-family: "Oleo Script", cursive;
	font-size: 45px;
	color: var(--red);
	margin: 5px 0px 5px 250px;
}

.ul-data-field-names {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

.ul-data-field-values {
	padding: 0;
}

.ul-data-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

.ul-data-line-2,
.ul-data-line-4,
.ul-data-line-6 {
	background-color: lightgray;
}

.div-hot-deals {
	width: 200px;
	height: 300px;
	padding: 10px;
	background-color: lightgray;
	box-shadow: 10px 10px var(--red);
	border-radius: 5px;
}

.h4-hot-deals {
	color: var(--red);
	margin-bottom: 5px;
}

.div-houses-deals {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.div-house-description {
	width: 120px;
	height: 120px;
	background-color: var(--red);
	margin-bottom: 5px;
	border-radius: 5px;
}

.img-hot-deals-house {
	width: 120px;
}

.div-house {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 10px;
	padding: 0 5px;
}
