header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: var(--white-orange);
	background-color: var(--red);
	margin-bottom: 1rem;
}

.header-logo-house {
	/* * image 209px x 150px */
	max-height: 75px;
	/* margin-bottom: -75px; */
	/* z-index: 1; */
}

.ul-nav {
	display: flex;
	justify-content: space-around;
}

.span-cent {
	font-size: 1.25em;
	padding-right: 0.05em;
}
