header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* width: 100%; */
	color: var(--white-orange);
	background-color: var(--red);
}

.header-logo-house {
	/* * image 210px x 150px */
	max-height: 150px;
	margin-bottom: -75px;
	z-index: 1;
}

nav {
	margin-left: auto;
}

.ul-nav {
	display: flex;
	justify-content: space-around;
}

li {
	padding: 10px;
}
