/** Fonts ********************************************** */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway&display=swap");
/* font-family: 'Oleo Script', cursive; */
/* font-family: 'Raleway', sans-serif; */

:root {
	--brown: #504841;
	--rust: #c05646;
	--white-orange: #ecebea;
	--blue-light: #b4cbcd;
}

/** Reset ********************************************** */
* {
	padding: 0;
	margin: 0 0 10px 0;
	line-height: 1.2;
}

/** Elements ********************************************** */
html {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
}

body {
	max-width: 50rem;
	padding: 0 1rem 0 10rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: "Oleo Script", cursive;
	font-size: 2rem;
}

ul {
	list-style: none;
}

li {
	padding: 0.5rem;
}

/** lvfha ********************************************** */
a:link,
a:visited {
	color: var(--brown);
	font-weight: bold;
	text-decoration: none;
}

a:focus,
a:hover {
	color: var(--rust);
	/* text-decoration: underline; */
}

a:active {
	color: var(--blue-light);
	text-decoration: underline;
}

/* Better Comments https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments
/*! Warning: A Palantir is a dangerous tool, Saruman. */
/*? Question: Why? Why should we fear to use it? */
/** Highlight: They are not all accounted for, the lost Seeing Stones. */
/*// Strike - Friendship with Saruman is not lightly thrown aside! */
/* todo: Leap off the Tower of Orthanc on to a giant eagle */
