.save-cents-picker {
	align-self: flex-end;
	/* justify-self: center; */
	width: 425px;
	height: 500px;
	padding: 0;
	margin-right: 15px;
	position: absolute;
	z-index: 1;
	color: var(--brown);
}

.save-cents-picker-top {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100px;
	background-color: var(--red);
	border-radius: 10px 10px 0 0;
	/* margin-bottom: 0; */
}

.x-close {
	margin: 10px;
}

.save-cents-picker-middle {
	width: 100%;
	height: 200px;
	background-color: var(--white-orange);
	/* margin-top: 0; */
}

p {
	padding-top: 15px;
	margin: 0 0 0 10%;
}

hr {
	width: 80%;
}

.h5-support {
	font-size: smaller;
	margin: 0 0 0 20%;
}

.mission-statement {
	font-size: smaller;
	margin: 0 0 0 20%;
}

.save-cents-picker-bottom {
	width: 100%;
	height: 200px;
	background-color: var(--white-orange);
	border-radius: 0 0 10px 10px;
}

.button-choices {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px;
}
