.save-cents-picker {
	display: flex;
	flex-direction: column;
	width: 425px;
	height: 500px;
	padding: 0;
	margin-right: 15px;
	position: absolute;
	z-index: 1;
	color: var(--brown);
}

.save-cents-picker-top {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100px;
	background-color: var(--red);
	border-radius: 10px 10px 0 0;
}

.p-x-close {
	padding: 0;
	margin: 10px 10px 0 auto;
}

.house-logo {
	width: 200px;
	margin: -25px auto 0;
	z-index: 1;
}

.save-cents-picker-middle {
	width: 100%;
	height: 200px;
	background-color: var(--white-orange);
}

.p-words-for-user {
	margin: 75px 50px 15px 50px;
}

hr {
	width: 80%;
}

.h5-support-mission {
	font-size: 12px;
	padding-right: 75px;
	margin: 0 0 0 75px;
}

.p-support-mission {
	font-size: 11px;
	padding-right: 75px;
	margin: 0 0 0 75px;
}

.save-cents-picker-bottom {
	width: 100%;
	height: 200px;
	background-color: var(--white-orange);
	border-radius: 0 0 10px 10px;
}

.p-words-fund {
	margin: 15px 50px 15px 50px;
}

.button-choices {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 50px 15px 50px;
}

.button-funds-continue {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-continue-close {
	font-size: 11px;
}
